
header{
    grid-area: header;
    background-image: $headerfondo;
    font-size:500%;
    font-variant-caps: all-petite-caps;
    text-align:center;  
     div{
        color: azure;
        font-variant: small-caps;
        font-family: 'Bungee Spice', cursive;
        font-size: 100%;
        color: rgb(191, 156, 0);
      }
      iframe{
        position: relative;
      }
         h4{
        text-align: center;
        font-size: 40%;
        color: rgb(223, 219, 227)
         }
        }  
@media screen and (max-width: 780px)
{
  header{
         font-size: 215%;
        } 
}