.fondo2 {
    background-image: url("../images/blanco.jpg");
    background-image: linear-gradient $servfondo;
    font-variant-caps: $fonttitulos;
    overflow: scroll;
    background-size: 200%;
    text-align: center;
    }


.titulos3{
     color: rgb(10, 11, 11);
    }