aside{
    grid-area: publicidad;
    background-image: linear-gradient $publicidadfondo ;
    font-variant-caps: $fonttitulos;
    text-align: center;
    
  }
.logos2{
      font-size: 120%;
  }
  