$headerfondo: linear-gradient(to left, rgb(0, 0, 0), rgb(63, 62, 65) );
$footerfondo: linear-gradient(to top, #383737, #666666, #888888);
$navfondo: linear-gradient(to left, rgb(0, 0, 0), rgb(63, 62, 65) );
$servfondo:linear-gradient(to top, #a39e9e, #8f7878, #999999);
$productosfondo: (blue rgb(164, 164, 223));
$publicidadfondo: (to left, rgb(0, 0, 0), rgb(63, 62, 65) );

