.footer{
        grid-area: footer;
        background-image: linear-gradient $footerfondo;
        color: rgb(24, 24, 25);
        text-align: center;
       }
@media screen and (max-width: 760px) {
        .footer{
                font: size 5000%;;
             }
           }  
