.imag{
  margin: 08%;
  padding: 0%;

}

.imagenes{
  border: 05px solid;
  border-radius: 30%;
  background-color: darkslategrey;

}

.titulos{
  font-size: x-large;
  font-family: Georgia, 'Times New Roman', Times, serif; border-left: auto;
}

.fondo4 h1 {
  text-align: center;
}

.navbar-brand{
  color: aliceblue;
  border-radius: 2%;
  border-color: black;

}
